@model TranDinhBien_BanHang.Models.Category
@{
    ViewBag.Title = "Edit";
}


<div class="span9">
    <div class="well">

        @using (Html.BeginForm("Edit", "Category", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/dorm-data", @class = "form-horizontal", @style = "margin: 0px 160px 20px;" }))
        {
            <h4>Sửa danh mục</h4>
            <input type="hidden" value="@Model.CategoryID" />
            <div class="control-group">


                @Html.LabelFor(r => r.CategoryName, "Tên danh mục", new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(r => r.CategoryName, new { @class = "form-control", placeholder = "Tên danh mục" })


                </div>
                @Html.ValidationMessageFor(r => r.CategoryName)
            </div>

            <div class="control-group">

                @Html.LabelFor(r => r.CategoryAvatar, "Ảnh", new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(r => r.CategoryAvatar, new { @class = "form-control", placeholder = "Ảnh" })
                </div>
            </div>

            <button class="btn btn-success">Lưu</button>
            <!-- Sử dụng Url.Action để tạo đường dẫn đúng -->
            <a href="/admin/category/index" class="btn btn-danger">Hủy</a>


        }

    </div>

</div>

