@model List<TranDinhBien_BanHang.Models.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<div class="span9">
    <h3>Sản phẩm khách hàng đã mua</h3>
    <table class="table table-bordered">
        <tr>
            <th>#ID</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Tổng giá</th>
        </tr>
        @{ double totPrice = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductID</td>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity </td>
                <td>
                    @{
                        

                        double Price = @item.Quantity * @item.Product.Price;

                        totPrice += Price;

                    }
                    @Price.ToString("N0") VNĐ
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-center fw-bold">
                Tổng tiền
            </td>
            <td>@totPrice.ToString("N0") VNĐ</td>
        </tr>
    </table>
</div>
